                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> {{ title }}
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">
                              
                              {% set row_regular_inverted = "" %}
                              {% for item in items %}
                                <li class="{{ row_regular_inverted }}">
                                    <div class="timeline-badge {{ item.color }}"><i class="fa fa-{{ item.icon }}"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">{{ item.name }}</h4>
                                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{ item.value }}</small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>{{ item.sql }}</p>
                                        </div>
                                    </div>
                                </li>
                                
                                {% if row_regular_inverted == "" %}
                                  {% set row_regular_inverted = "timeline-inverted" %}
                                {% else %}
                                  {% set row_regular_inverted = "" %}
                                {% endif %}
                                
                              {% endfor %}
                                
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

